form {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
  place-items: stretch;
}

form #messageArea {
  grid-column: 1 / span 2;
}

form [type=submit] {
  grid-column: 2;
}

form label {
  align-self: center;
}