body {
  font-family: 'Orbitron', sans-serif;
}

body * {
  font-family: inherit;
}

h1,
h2 {
  text-align: center;
}

.license-data,
textarea {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.license-data {
  font-size: 10px;
}
