body {
  font-family: 'Orbitron', sans-serif;
}

body * {
  font-family: inherit;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 20px;
}

.license-data,
textarea {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.license-data {
  font-size: 10px;
}
