.background-process-active {
  cursor: wait;
  position: relative;
}

.background-process-active::before {
  background-color: $overlay-color;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
