input,
label,
select,
textarea {
  margin: 20px;
  padding: 10px;
}

input[type='number'],
input[type='text'],
select {
  text-align: center;
}

textarea,
input[type='text'] {
  border: 2px solid; 
}

textarea,
input[type='text'],
input[type='submit'] {
  border-radius: $default-border-radius;
}
