input[type='radio'] {
  appearance: none;
  margin-right: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid;
  border-radius: 50%;
}

input[type='radio']:focus {
    outline: none;
    border-width: 0.3em;
}

input[type='radio'] + label {
  margin-left: 0;
}

input[type="radio"]::after {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  display: block;
  margin-top: -0.325em;
  margin-left: -0.325em;
}

input[type="radio"]:checked::after {
  transform: scale(1);
}
