.license-data-fonts,
.license-data-node {
  display: grid;
  gap: 5px;
  place-items: center;
}

.license-data-node {  
  grid-template-columns: repeat(11, auto);
}

.license-data-fonts {  
  grid-template-columns: repeat(4, auto);
}
