body {
  background-color: $background-color-dark;
  color: $color-dark;
}

.asymmetric-color {
  color: $asymmetric-color-dark;
}

#asymmetricPage {
  color: $asymmetric-color-dark;
}

.navbar li.asymmetric-color::after {
  color: $asymmetric-color-dark;
}

.navbar li.symmetric-color::after {
  color: $symmetric-color-dark;
}

.symmetric-color {
  color: $symmetric-color-dark;
}

#symmetricPage {
  color: $symmetric-color-dark;
}

#welcomePage .asymmetric,
#welcomePage .asymmetric button {
  border-color: $asymmetric-color-dark;
  color: $asymmetric-color-dark;
}

#welcomePage .symmetric,
#welcomePage .symmetric button {
  border-color: $symmetric-color-dark;
  color: $symmetric-color-dark;
}

#welcomePage button:hover {  
  border-color: $background-color-dark;
  color: $background-color-dark;  
}

#welcomePage .asymmetric button:hover {
  background-color: $asymmetric-color-dark;
}

#welcomePage .symmetric button:hover {
  background-color: $symmetric-color-dark;
}
