/** element specific colors **/

a::after {
  background-color: $color-dark;
}

body {
  background-color: $background-color-dark;
  color: $color-dark;
}

body * {
  color: inherit;
}

input[type='radio'] {
  background-color: $background-color-dark;  
}

textarea,
input[type='text'] {
  background-color: $background-color-dark-lighter;
}

textarea:focus,
input[type='text']:focus {
  outline-color: transparent;
}

/** class selectors **/

.asymmetric-color {
  color: $asymmetric-color-dark;
}

.asymmetric-color .menu-link::after {
  background-color: $asymmetric-color-dark;
}

.symmetric-color {
  color: $symmetric-color-dark;
}

.symmetric-color .menu-link::after {
  background-color: $symmetric-color-dark;
}

/** page specific colors **/
#asymmetricPage {
  color: $asymmetric-color-dark;
}

#asymmetricPage input[type="radio"]::after {
  background-color: $asymmetric-color-dark;
}

#asymmetricPage textarea:focus,
#asymmetricPage input[type='text']:focus {
  box-shadow: 0 0 0 3px $asymmetric-color-shadow-dark;
}

#asymmetricPage .textarea-container div {
  color: $asymmetric-color-dark-lighter;
}

#asymmetricPage .textarea-container div:hover {
  color: $asymmetric-color-dark;
}

#symmetricPage {
  color: $symmetric-color-dark;
}

#symmetricPage input[type="radio"]::after {
  background-color: $symmetric-color-dark;
}

#symmetricPage textarea:focus,
#symmetricPage input[type='text']:focus {
  box-shadow: 0 0 0 3px $symmetric-color-shadow-dark;
}

#symmetricPage .textarea-container div {
  color: $symmetric-color-dark-lighter;
}

#symmetricPage .textarea-container div:hover {
  color: $symmetric-color-dark;
}

#welcomePage .asymmetric,
#welcomePage .asymmetric button {
  border-color: $asymmetric-color-dark;
  color: $asymmetric-color-dark;
}

#welcomePage .asymmetric button:hover {
  background-color: $asymmetric-color-dark;
}

#welcomePage .symmetric,
#welcomePage .symmetric button {
  border-color: $symmetric-color-dark;
  color: $symmetric-color-dark;
}

#welcomePage .symmetric button:hover {
  background-color: $symmetric-color-dark;
}

#welcomePage button:hover {  
  border-color: $background-color-dark;
  color: $background-color-dark;  
}
