.navbar {
  display: none;
}

.navbar ul {
  list-style: none;
  margin-left: 0;
}

@media only screen and (max-width: $mobile-max-width) {
  .navbar-active {
    pointer-events: none;
    user-select: none;
  }
  
  .navbar-active .navbar,
  .navbar-active .mobile-menu-symbol {
    pointer-events: auto;
    user-select: auto;
  }

  .navbar-active .navbar li {    
    margin: 50px;
  }
  
  .navbar-active .navbar {
    display: block;
    height: 100%;
    left: 0;
    padding-top: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
  }  
}

@media only screen and (min-width: $mobile-max-width) {
  .navbar {
    display: block;
  }

  .navbar li {
    float: left;
    margin-left: 20px;  
  }

  .navbar li:first-child {
    margin-left: 0;
  }
}
