.side-menu {
  bottom: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: min-content min-content;
  left: 15px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.side-menu button {
  border-radius: 4px;
  padding: 5px;
}

.side-menu-theme::after {
  white-space: nowrap;
}

.light .side-menu-theme::after {
  content: 'Dark Mode';
}

.dark .side-menu-theme::after {
  content: 'Light Mode';
}
