.text {
  border-radius: $default-element-border-radius;
  margin: $default-element-margin;
  padding: $default-element-padding;
}

.text:focus,
.text:hover {
  outline: solid $default-outline-width-focus;
  outline-offset: $default-outline-offset;
}

.text:focus:hover {
  outline-width: $default-outline-width-focus-hover;  
}
