#createChatInvitationPage {
  display: grid;
  grid-template-columns: auto;
}

#CreateChatInvitationPage .page {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
  place-items: stretch;
}

#CreateChatInvitationPage .page.hide {
  display: none;
}

#CreateChatInvitationPage .info-text {
  grid-column: 1 / span 2;
  text-align: center;
}

#CreateChatInvitationPage label {
  align-self: center;
}

#CreateChatInvitationPage #createKeys {
  grid-column: 2;
  justify-self: left;
}

#CreateChatInvitationPage #previousNextButtons {
  display: grid;
  grid-template-columns: auto auto;
}

#CreateChatInvitationPage #previousNextButtons :first-child {
  justify-self: left;
}

#CreateChatInvitationPage #previousNextButtons :last-child {
  justify-self: right;
}