@use 'sass:string';

@mixin grid(
  $columnsCount: '',
  $columnsSize: '',
  $placeItems: '',
  $alignItems: '',
) {
  display: grid;

  @if $columnsCount and $columnsSize {
    grid-template-columns: repeat($columnsCount, string.unquote($columnsSize));  
  }
  
  @if $placeItems {
    place-items: string.unquote($placeItems);
  } 

  @if not $placeItems and $alignItems {
    align-items: string.unquote($alignItems);
  }

  &.hidden {
    display: none;
  }
}

@mixin theme(
  $name,
  $color,
  $background-color,
  $asymmetric-color,
  $symmetric-color,
  $asymmetric-color-lighter,
  $symmetric-color-lighter,
  $asymmetric-color-focus,
  $symmetric-color-focus,
) {
  .#{$name} {
    color: $color;
  }
  
  .#{$name},
  .#{$name} .text {
    background-color: $background-color;
  }
  
  .#{$name} * {
    border-color: inherit;
    color: inherit;
    outline-color: inherit;
  }
  
  .#{$name} a::after,
  .#{$name} .button:focus,
  .#{$name} .button:hover {
    background-color: $color;
  }
  
  .#{$name} .button:focus,
  .#{$name} .button:hover {  
    outline-color: $color;
  }
  
  .#{$name} .button:focus,
  .#{$name} .button:hover,
  .#{$name} .asymmetric-color .button:focus,
  .#{$name} .asymmetric-color .button:hover,
  .#{$name} .symmetric-color .button:focus,
  .#{$name} .symmetric-color .button:hover {
    border-color: $background-color;
  }
  
  .#{$name} .button:focus,
  .#{$name} .button:hover,
  .#{$name} .symmetric-color .submit,
  .#{$name} .asymmetric-color .submit,
  .#{$name} .asymmetric-color .button:focus,
  .#{$name} .asymmetric-color .button:hover,
  .#{$name} .symmetric-color .button:focus,
  .#{$name} .symmetric-color .button:hover {
    color: $background-color;
  }
  
  .#{$name} .asymmetric-color {
    border-color: $asymmetric-color;
    outline-color: $asymmetric-color;
  }
  
  .#{$name} .asymmetric-color,
  .#{$name} .asymmetric-color .text,
  .#{$name} .asymmetric-color .textarea-container div:hover {
    color: $asymmetric-color;
  }
  
  .#{$name} .symmetric-color {
    border-color: $symmetric-color;
    outline-color: $symmetric-color;
  }
  
  .#{$name} .symmetric-color,
  .#{$name} .symmetric-color .text,
  .#{$name} .symmetric-color .textarea-container div:hover {
    color: $symmetric-color;
  }
  
  .#{$name} .asymmetric-color .submit {
    border-color: $asymmetric-color-lighter;
  }
  
  .#{$name} .symmetric-color .submit {
    border-color: $symmetric-color-lighter;
  }
  
  .#{$name} .asymmetric-color a::after,
  .#{$name} .asymmetric-color .button:focus,
  .#{$name} .asymmetric-color .button:hover,
  .#{$name} .asymmetric-color .radio:focus,
  .#{$name} .asymmetric-color .radio:hover,
  .#{$name} .asymmetric-color .submit:focus,
  .#{$name} .asymmetric-color .submit:hover,
  .#{$name} .asymmetric-color .text:focus,
  .#{$name} .asymmetric-color .text:hover {
    outline-color: $asymmetric-color-focus;
  }
  
  .#{$name} .symmetric-color a::after,
  .#{$name} .symmetric-color .button:focus,
  .#{$name} .symmetric-color .button:hover,
  .#{$name} .symmetric-color .radio:focus,
  .#{$name} .symmetric-color .radio:hover,
  .#{$name} .symmetric-color .submit:focus,
  .#{$name} .symmetric-color .submit:hover,
  .#{$name} .symmetric-color .text:focus,
  .#{$name} .symmetric-color .text:hover {
    outline-color: $symmetric-color-focus;
  }
  
  .#{$name} .asymmetric-color a::after,
  .#{$name} .asymmetric-color .button:focus,
  .#{$name} .asymmetric-color .button:hover,
  .#{$name} .asymmetric-color .radio::after,
  .#{$name} .asymmetric-color .submit {
    background-color: $asymmetric-color;
  }
  
  .#{$name} .symmetric-color a::after,
  .#{$name} .symmetric-color .button:focus,
  .#{$name} .symmetric-color .button:hover,
  .#{$name} .symmetric-color .radio::after,
  .#{$name} .symmetric-color .submit {
    background-color: $symmetric-color;
  }
  
  .#{$name} .asymmetric-color .textarea-container div {
    color: $asymmetric-color-lighter;
  }
  
  .#{$name} .symmetric-color .textarea-container div {
    color: $symmetric-color-lighter;
  }
  
  .#{$name}.background-process-active::before,
  .#{$name} .background-process-active::before {
    background-color: $overlay-color;
  }
  
  .#{$name} .button {
    background: transparent;
  }

  @media only screen and (max-width: 800px) {
    .#{$name}.navbar-active .navbar {
      background: $background-color;
    }
  }
}
