.linkButton {
  padding: $componentPadding;
  border: 2px solid green;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.linkButton.disabled {
  border-color: gray;
  background-color: gray;
  cursor: inherit;
}