.col-2 {
  grid-column-start: 2;
}

.grid-form {
  align-items: center;
  display: grid;
  grid-template-columns: min-content min-content;
}

@for $i from 1 through 3 {
  .grid-form-row-#{$i * 2} {
    @include grid(('columnsCount': #{$i * 2}, 'columnsSize': 'min-content', 'placeItems': 'center')...);
  }
}
