header {
  display: grid;
  padding: $default-padding;
  place-items: center;
}

header .logo {
  grid-area: logo;
}

header .navbar {
  grid-area: navbar;
}

header .mobile-menu-symbol {
  grid-area: mobile-menu-symbol;
}
