header {
  display: grid;
  gap: 20px;
  grid-template-areas: 'logo headline .' 'menu menu menu';
  grid-template-columns: 1fr 10fr 1fr;
  padding: $default-padding;
  place-items: center;
}

header .logo {
  grid-area: logo;
}

header h1 {
  grid-area: headline;
}

header .menu {
  grid-area: menu;
}
