header.welcome {
  display: none;
}

header {
  display: grid;
  grid-template-areas: 'logo headline .' 'navbar navbar navbar';
  grid-template-columns: 1fr 12fr 1fr;
  padding: $default-padding;
  place-items: center;
}

header .logo {
  grid-area: logo;
}

header h1 {
  grid-area: headline;
}

header .navbar {
  grid-area: navbar;
}
