.grid-form {
  grid-template-columns: 1fr;
}

header {
  grid-template-areas: 'logo . mobile-menu-symbol';
  grid-template-columns: 1fr 12fr 1fr;
}

.welcome {
  grid-template-areas: 'headline' 'asymmetric' 'symmetric';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

@media only screen and (max-width: 800px) {
  .grid-form > * {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-form > label {
    margin-bottom: 0;
  }
  
  .grid-form > label + *,
  .grid-form .grid-form-row-2 > *,
  .grid-form .grid-form-row-4 > *,
  .grid-form .grid-form-row-6 > *,
  .grid-form textarea {
    margin-top: 0;
  }

  header h1 {
    display: none;
  }

  .license-data > .desktop {
    display: none;
  }

  .license-data > .mobile {
    display: grid;
  }
}

@media only screen and (min-width: 800px) {
  .col-2 {
    grid-column-start: 2;
  }

  .grid-form {
    grid-template-columns: minmax(auto, 200px) minmax(auto, 600px);
  }
  
  header {
    grid-template-areas: 'logo headline .' 'navbar navbar navbar';
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  header h1 {
    grid-area: headline;
  }

  header .mobile-menu-symbol {
    display: none;
  }

  .license-data > .desktop {
    display: grid;
  }

  .license-data > .mobile {
    display: none;
  }

  .welcome {
    grid-template-areas: 'headline headline' 'asymmetric symmetric';
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
  }
}
